@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    color: #fff;
}
main{
    background-color: #1B1B1B;
}
.navbar{
    --bs-navbar-color:#fff !important;
    --bs-navbar-active-color:#ffffff70 !important;
    --bs-navbar-hover-color:#ffffff70 !important;

}
.navbar-brand img{
    margin-top: 15px;
    margin-left: 60px;
}
.navbar-toggler{
    background-color: #fff !important;
}
.bg-light{
    background: #202020 !important;
    color: white;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
    margin-right: 60px;
}
.hero{
    padding-top: 300px;
    background-color: black;
    background-image: url(../gallery/original.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100%;
    height: 100%;
    color: white;
    background-position: center center;
    text-align: center;
    padding-bottom: 100px;
}
.hero h1{
    margin-top: -235px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}
.hero h5{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 54px;
letter-spacing: 0.21em;
margin-top: -10px;
margin-bottom: 30px;
}
.hero p{
    margin: auto;
    width: 310px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 20px;
margin-bottom: 60px;
}
.img1{
    width: 250px;
    height: 200px;
}
.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
 width: auto;
    height: 200px;
    justify-content: center;
}
button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
line-height: 17px;
letter-spacing: 0.1em;
padding: 8px 20px;
text-transform: uppercase;
border-radius: 50px;font-size: 10px;
border: none;
transition: all 1s ease-in-out;
}
a{
    color: #272142;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
button:hover{
    background-color: #202020;
}
button:hover a{
    color: #fff;
    letter-spacing: .3em;
}
.display{
    background-color: #1B1B1B;
}
 .gallery{
    padding-top: 60px;
    background-color: #1B1B1B;
    padding-bottom: 30px;
} 
img{
    gap: 80px;
    margin-bottom: 20px;
    justify-content: center;
    
}
.row-2{
    justify-content: center;
    gap: 20px;
}
footer{
  background: #282323;
}
footer img{
    margin: 20px ;
}
.d-flex{
    justify-content: space-between;
}
.copyrights p{
    text-align: center;
    justify-content: center;
    margin: auto;
}
.about{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.about img{
    max-width: 100%;
    height: 550px;
}
.details{
    display: flex;
    flex-direction: column;
    max-width: 390px;
    padding-right: 10px;
}
.about h2{
    text-transform: uppercase;
    font-family: 'Roboto';
font-style: normal;
    margin-top: 35px;
    margin-bottom: 5px;
    color: #F65282;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.about h3{
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    font-family: Roboto;
font-size: 30px;
font-weight: 600;
line-height: 55px;
letter-spacing: 0.1em;
text-align: left;
}
.details p{
    font-family: Roboto;
font-size: 13px;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
font-style: normal;
}
.social{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.social img{
    max-width: 20px;
    max-height: 20px;
}
.details .camera{
    width: 280px;
    height: 40px;
    margin-top: 12px;
}
.details button{
    margin-top: 15px;
    max-width: 145px;
    
}
.about-gallery{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.about-gallery .img2{
    width: 150px;
}
.about-gallery .img3{
    width: 160px;
}
.d-gallery{
    text-align: center;
}
.d-gallery h1{
    margin: -65px auto 55px; 
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.contact-header{
    padding: 10px;
    background: #202020;
}
.d-gallery h6{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #F65282;
}
.d-gallery p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
    margin-bottom: 30px;
}
.d-gallery p:last-child{
    margin-bottom: 40px;
}
.d-gallery a{
    color: #fff;
}
.source-code{
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin: 30px auto 5px;
    color: #1B1B1B;
    background-color: #fff;
    max-width: 65%;
}
.source-code a{
    text-decoration: underline;
}
@media screen and (max-width:1120px){
    .gallery{
        justify-content: center;
    }
    .img1{
        width: 200px;
    }
    .img4{
      width: 200px;  
    }
    .img8{
        width: 150px;
    }
    .row-2{
        justify-content: left;
    }
    
}
@media screen and (max-width:990px){
    .img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
        width: auto;
    }
    .row{
        justify-content: space-evenly;
    }
    .img4{
        width: 310px;
    }
    .img1{
        width: 220px;
    }
    .img3{
        width: 130px;
    }
    .img7{
        width: 146px;
    }
    .img10,.img9{
        width: 175px;
    }
}
@media screen and (max-width:770px) {
    .img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
        width: auto;
    }
    .img4{
        width: 290px;
    }
    .img5{
        width: 160px;
    }
    .img6{
        width: 90px;
    }
    footer img{
        width: 100px;
    }
    .socials {
        display: flex;
        flex-direction: row; 
    }
    .socials a img{
        width:20px ;
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
    }
    .socials a img:last-child{
        margin-right: 14px;
    }
    .copyrights p{
        font-size: 15px;
    }
    .about h3{
        line-height: 45px;
    }
    .social{
        margin-top: 25px;
    }
} 
@media screen and (max-width:740px){
    .about{
        flex-direction: column;
    }
    .about img{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .details{
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    .details p, .social a, .about h3,.details button{
        margin: 0 auto;
        text-align: center;
    }
    .details button{
        margin-top: 20px;
    }
    .about-gallery{
        gap: 50px;
    }
    .source-code{
        font-size: 15px;
    }
}
@media screen and (max-width:580px){
    .navbar-brand img{
        width: 120px;
        margin-left: 15px;
    }
    .img4{
        width: 205px;
    }
    .img5{
        width: 150px;
    }
    .img8{
        width: 140px;
    }
    .img9{
        width: 140px;
    }
    .about-gallery{
        gap: 20px;
    }
}
@media screen and (max-width:465px){
    .navbar-brand img{
        width: 120px;
        margin-left: 15px;
    }
    .copyrights p{
        font-size: 13px;
    }
    footer img{
        width: 70px;
    }
    .socials a img{
        width:15px ;
        margin-left: 3px;
        margin-right:3px;
        text-align: center;
    }
    .socials a img:last-child{
        margin-right: 8px;
    }
    .myself{
        max-width: 100% !important;
    }
    .about-gallery{
        flex-wrap: wrap;
    }
    .about h3{
        font-size: 25px;
    }
    .details p{
        padding-left: 5px;
    }
    .d-gallery h1{
        font-size: 35px;
    }
    .source-code {
        font-size: 15px;
    }
}